<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/src/asset/css/home.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="app">
      <a href="/create"
        ><button class="btn-primary loat-left" type="submit">
          Tạo tài khoản
        </button></a
      >
      <div class="nav">Quản lý tài khoản</div>
      <table class="score">
        <thead class="description">
          <tr>
            <th class="subject">STT</th>
            <th class="subject-name">Tên đăng nhập</th>
            <th class="subject-name">Mật khẩu</th>
          </tr>
        </thead>
        <tbody class="details">
          {change}
        </tbody>
        <div class="edit">Click vào tài khoản cần thay đổi</div>
      </table>
      <a href="/admin"
        ><button class="btn-primary" type="submit">Trở lại</button></a
      >
    </div>
    <script></script>
  </body>
</html>
